export(af.test, bf.test, ag.test, james.test, welch.test, kw.test, aov.test, gplot, ss.test, st.test, wt.test, mw.test, johansen.test, box.test, describe, homog.test, nor.test, paircomp, gp.test, agp.test, ap.test, b2.test, cochran.test, wgf.test, mbf.test, aw.test, wa.test, pf.test, onewaytests)
S3method(paircomp,default)
S3method(paircomp,owt)
S3method(paircomp,jt)
importFrom("stats", var, pchisq, pf, qchisq, chisq.test, median, complete.cases, bartlett.test, fligner.test, shapiro.test, p.adjust, dnorm, qqline, qqnorm, quantile, sd, pt, pnorm, rnorm, rchisq, model.frame, qnorm, na.pass, setNames)
importFrom("moments", skewness, kurtosis)
importFrom("car", leveneTest)
importFrom("ggplot2", ggplot, aes, geom_boxplot, geom_point, geom_errorbar, ggtitle, ylab, xlab, geom_violin, geom_dotplot, position_dodge, theme_bw, geom_bar, scale_fill_manual, labs, element_text, theme)
importFrom("nortest", sf.test, pearson.test, ad.test, cvm.test, lillie.test)
importFrom("graphics", curve, hist, par)
importFrom("utils", combn, globalVariables)
importFrom("wesanderson", wes_palette)
S3method(summary, owt)
S3method(print, summary.owt)
S3method(summary, jt)
S3method(print, summary.jt)